<div class="col-md-12 text-center">
<%= bootstrap_form_for(website) do |f| %>
  <% if website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% website.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

<!--     t.integer  "template_csses_id"     -->



  <div class="field">    
    <%= f.text_field :title, placeholder: "Title of Your website (Preferebly Name of Your Business)" %>
  </div>

  <div class="field">
    
    <%= f.text_field :title_color, placeholder: "Add a color, choose color names or hex value like #000000" %> 
  </div>

  <div class="field">

    <%= f.file_field :logo,:label => "Upload Your Logo", placeholder: "Choose your logo" %> 
  </div>
 
  <div class="field">
    <%= f.file_field :mainimage,:label => "Upload Your background Picture", placeholder: "Choose your Background Image for Hero Div" %>
  </div>

  <div class="field">
    
    <%= f.text_field :subheading, placeholder: "Add A Subheading" %>
  </div>

  <div class="field">
    
    <%= f.text_field :facebooklink, placeholder: "Add your facebook page link" %> 
  </div>

   <div class="field">
    
    <%= f.text_field :twitterlink, placeholder: "Add your twitter page link"  %>
  </div>

   <div class="field">
    
    <%= f.text_field :youtubelink, placeholder: "Add your youtube page link"  %>
  </div>

  <div class="field">
    
    <%= f.text_field :subheading_color, placeholder: "Add the subheading color, enter color name or hex value like #000000"  %>
  </div>

  <div class="field">
    
    <%= f.text_field :footer_color, placeholder: "Add your footer color, enter color name or hex value like #000000"  %>
  </div>

  <div class="field">
    
    <%= f.text_field :footer_text_color, placeholder: "Add your footer text colors"  %>
  </div>

  <div class="field">
    
    <%= f.text_field :phone, placeholder: "Add your Phone Number in format: +13103459140"%>
  </div>

   <div class="field">
    
    <%= f.text_field :city, placeholder: "Enter City Name"  %>
  </div>

   <div class="field">
    
    <%= f.text_field :state, placeholder: "Enter State Name"  %> 
  </div>

   <div class="field">
    
    <%= f.text_field :zipcode, placeholder: "Enter Zipcode to show your location on map"  %> %>
  </div>

  
   <div class="field">
    
    <%= f.select :template_csses_id, TemplateCss.all.map{ |f| [f.name, f.id]} %>
  </div>

  
        

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>