<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <li>          
		  <%= image_tag @website.logo, :size => "40x40" %>		
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right">        
        <li>
          <%= link_to "HOME", @website %>
        </li> 
        <li>
          <%= link_to "ADVERTISERS", @website %>
        </li>
        <li>
          <%= link_to "PUBLISHERS", @website %>
        </li>
        <li>
          <%= link_to "AD FORMATS", @website %>
        </li>
        <li>
          <%= link_to "MY ADS", @website %>
        </li>
        <li>
          <%= link_to "SOCIAL MEDIA CAMPAIGNS", @website %>
        </li>
        <li>
          <%= link_to "PRICING", @website %>
        </li>
                                         
      </ul>
    </div>
  </div>
</nav>


