<%= render "layouts/navbar" %>
<Strong><p id="notice" style = "margin: 0px 0px;"><%= notice %></strong>
<%= render "websites/header" %>



<div class="headerdiv1" style = "margin: 12px 10px 2px 10px; min-height: 500px;">
<div class = "col-lg-12 col-sm-12 col-xs-12" >
<h1 style = "text-align: center; margin-top: 40px;margin-bottom: 40px;color: #ee0979; " >WEBSITES FEATURES</h1>



<div class = "center">

    <div class="col-md-3 col-sm-6 col-xs-12"><Strong><p style = "color: #FF0000; margin: 0px 10px 10px 10px; text-align:center;" >&#x2714 ADD MULTIPLE PAGES</p></Strong></div>
    <div class="col-md-3 col-sm-6 col-xs-12"><Strong><p style = "color: #FF0000; margin: 0px 10px 10px 10px; text-align:center;" >&#x2714 ADD MULTIPLE PAGE SECTIONS</p></Strong></div>
    <div class="col-md-3 col-sm-6 col-xs-12"><Strong><p style = "color: #FF0000; margin: 0px 10px 10px 10px; text-align:center;" >&#x2714 ADD MULTIPLE WIDGETS</p></Strong></div>

    <div class="col-md-3 col-sm-6 col-xs-12"><Strong><p style = "color: #FF0000; margin: 0px 10px 10px 10px; text-align:center;" >&#x2714 YOUR PERSONAL INBOX FOR INQUIRIES</strong></div>        
    <div class="col-md-3 col-sm-6 col-xs-12"><Strong><p style = "color: #FF0000; margin: 0px 10px 10px 10px; text-align:center;" >&#x2714 ADD YOUR OWN TIMETABLE</strong></div>
    <div class="col-md-3 col-sm-6 col-xs-12"><Strong><p style = "color: #FF0000; margin: 0px 10px 10px 10px; text-align:center;" >&#x2714 INTEGRATE ALL SOCIAL MEDIA </strong></p></Strong></div>    
    <div class="col-md-3 col-sm-6 col-xs-12"><Strong><p style = "color: #FF0000; margin: 0px 10px 10px 10px; text-align:center;" >&#x2714 CHOOSE YOUR OWN COLORS AND TEMPLATE</strong></div>
  
    <div class="col-md-3 col-sm-6 col-xs-12"><Strong><p style = "color: #FF0000; margin: 0px 10px 10px 10px; text-align:center;" >&#x2714 RAISE REQUEST FOR ANY NEW FEATURE</p></Strong></div>
    <div class="col-md-3 col-sm-6 col-xs-12"><Strong><p style = "color: #FF0000; margin: 0px 10px 10px 10px; text-align:center;" >&#x2714 AUTOMATIC GOOGLE MAPS INTEGRATIONS</p></Strong></div>
    <div class="col-md-3 col-sm-6 col-xs-12"><Strong><p style = "color: #FF0000; margin: 0px 10px 10px 10px; text-align:center;" >&#x2714 WEBSITE LIVE IN 5 MINUTES WITHOUT DRAG AND DROP</p></Strong></div>
    <div class="col-md-3 col-sm-6 col-xs-12"><Strong><p style = "color: #FF0000; margin: 0px 10px 10px 10px; text-align:center;" >&#x2714 CUSTOMIZED LOGO AND BANNER</p></Strong></div>
    <div class="col-md-3 col-sm-6 col-xs-12"><Strong><p style = "color: #FF0000; margin: 0px 10px 10px 10px; text-align:center;" >&#x2714 AUTOMATIC INVENTORY MANGEMENT THROUGH WANTACARBUYACAR</p></Strong></div>
    
</div>
</div>
</div>


<%= render "websites/allwebsites" %>


<%= render "template_csses/templatecss" %>


<div class="headerdiv1" id = "custom1" style = "margin: 12px 0px 0px 00px; min-height: 100px;">
    <%= render "layouts/footer" %>
</div>