<p id="notice"><%= notice %></p>

<%= render 'websites/css'%>

<%= render 'websites/websitenavbar'%>

<%= render 'websites/websiteheader'%>

<%= render 'websites/includepagesonindex'%>

<%= render 'websites/websitefooter'%>
