<%= render "layouts/navbar" %>
<p id="notice"><%= notice %></p>

<div class="container">

  <h1 style = "text-align: center; margin-top: 40px;font-size: 90px; color: #ee0979; " >Messages</h1>

  <table class = "table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Messagetext</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.name %></td>
          <td><%= message.email %></td>
          <td><%= message.messagetext %></td>        
          <td><%= link_to 'Destroy', website_message_path(params[:website_id],message.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

</div>



<div class="headerdiv1" id = "custom1" style = "margin: 12px 0px 0px 0px; position:relative; bottom:0; min-height: 100px;">
    <%= render "layouts/footer" %>
</div>

