<%= render "layouts/navbar" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @message.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @message.email %>
</p>

<p>
  <strong>Messagetext:</strong>
  <%= @message.messagetext %>
</p>


<div class="headerdiv1" id = "custom1" style = "margin: 12px 0px 0px 0px;min-height: 100px;">
    <%= render "layouts/footer" %>
</div>