<%= render "layouts/navbar" %>
<p id="notice"><%= notice %></p>


<%= render "template_csses/templatecss" %>

<div class="col-md-12 col-sm-12" style = "text-align:center;">
	<%= link_to 'NEW TEMPLATE', new_template_css_path,class: "btn btn-primary" %>
</div>
<br>


<div class="headerdiv1" id = "custom1" style = "margin: 12px 0px 0px 0px; min-height: 100px;">
    <%= render "layouts/footer" %>
</div>