<p id="notice"><%= notice %></p>

<h1>Template Csses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @template_csses.each do |template_css| %>
      <tr>
        <td><%= template_css.name %></td>
        <td><%= link_to 'Show', template_css %></td>
        <td><%= link_to 'Edit', edit_template_css_path(template_css) %></td>
        <td><%= link_to 'Destroy', template_css, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template Css', new_template_css_path %>
