<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @inventory.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @inventory.description %>
</p>

<p>
  <strong>Street:</strong>
  <%= @inventory.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @inventory.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @inventory.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @inventory.zipcode %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @inventory.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @inventory.longitude %>
</p>

<p>
  <strong>User:</strong>
  <%= @inventory.user_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @inventory.image %>
</p>

<p>
  <strong>Year:</strong>
  <%= @inventory.year %>
</p>

<p>
  <strong>Miles:</strong>
  <%= @inventory.miles %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @inventory.transmission %>
</p>

<p>
  <strong>Color:</strong>
  <%= @inventory.color %>
</p>

<p>
  <strong>Cylinder:</strong>
  <%= @inventory.cylinder %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @inventory.fuel %>
</p>

<p>
  <strong>Drive:</strong>
  <%= @inventory.drive %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<p>
  <strong>Newused:</strong>
  <%= @inventory.newused %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @inventory.vin %>
</p>

<p>
  <strong>Model:</strong>
  <%= @inventory.model %>
</p>

<p>
  <strong>Trim:</strong>
  <%= @inventory.trim %>
</p>

<p>
  <strong>Enginedescription:</strong>
  <%= @inventory.enginedescription %>
</p>

<p>
  <strong>Interiorcolor:</strong>
  <%= @inventory.interiorcolor %>
</p>

<p>
  <strong>Imagefront:</strong>
  <%= @inventory.imagefront %>
</p>

<p>
  <strong>Imageback:</strong>
  <%= @inventory.imageback %>
</p>

<p>
  <strong>Imageleft:</strong>
  <%= @inventory.imageleft %>
</p>

<p>
  <strong>Imageright:</strong>
  <%= @inventory.imageright %>
</p>

<p>
  <strong>Frontinterior:</strong>
  <%= @inventory.frontinterior %>
</p>

<p>
  <strong>Rearinterior:</strong>
  <%= @inventory.rearinterior %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
