<div class="col-md-12 text-center">
<%= bootstrap_form_for sectiontype, :url => {:action => 'update'} do |f| %>
  <% if sectiontype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sectiontype.errors.count, "error") %> prohibited this sectiontype from being saved:</h2>

      <ul>
      <% sectiontype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    
    <%= f.select :widget_type, ['Paragraph', 'Image','Video'] %>
  </div>

    <div class="field">
    
    <%= f.text_field :title %>
  </div>

    <div class="field">
    
    <%= f.text_field :type_url %>
  </div>

    <div class="field">
    
    <%= f.text_field :font_type %>
  </div>

  <div class="field">
    
    <%= f.text_area :details %>
  </div>

    <div class="field">
    
    <%= f.text_field :image_border %>
  </div>

  <div class="field">
    
    <%= f.text_field :text_color %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>



<% end %>

</div>