<div class="field">
    <%= f.label :day, 'Select Day' %>
    <%= f.select :day, ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'] %>
  </div>

<div class="field">
    <%= f.label :start_time, 'Select Opening Time' %>
    <%= f.time_select :start_time %>
  </div>

<div class="field">
    <%= f.label :end_time, 'Select Closing Time' %>
    <%= f.time_select :end_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>