<div class = "headerdiv" style ="background-color: <%= page.page_color if page.page_color %>">
	<h1 style ="color: <%= page.header_color if page.header_color  %>;">	  
	  <%= page.header.upcase if page.header.present? %>
	</h1>
	<h3 style ="color: <%= page.subheader_color if page.subheader_color %>">	  
	  <%= page.subheader.upcase if page.subheader.present? %>
	</h3>

	<%- if user_signed_in? -%>
			<%- if page.website.user_id == current_user.id -%>
				<div class="col-md-12 text-center" style = "margin-bottom: 5px;">
					<%= link_to 'Add Page Section', new_website_page_page_section_path(@website.id, page.id),class: "btn btn-default btn-xs" %>	

					<%= link_to 'Edit Page', edit_website_page_path(@website.id, page.id),class: "btn btn-default btn-xs" %>

					<%= link_to "Delete Page", website_page_path(@website.id, page.id), :confirm => "Are you sure you want to delete this Page?", :method => :delete,class: "btn btn-default btn-xs"  %>
				</div>
			<% end %>
	<% end %>
	

	<%- if (page.title == "inventory") %>

		<h1 style ="color: <%= @website.footer_text_color if @website.footer_text_color.present? %>;">	  
		  INVENTORY
		</h1>
		<h3 style ="color: <%= @website.footer_text_color if @website.footer_text_color.present? %>;">	  
		  OUR INVENTORY
		</h3>
		<p style ="color: <%= @website.footer_text_color if @website.footer_text_color.present? %>; font-size: 10px;">	  
		  ( Automatic Inventory Management Powered by: <a href = "https://fierce-sea-43472.herokuapp.com/"> Want A Car Buy A Car </a> )
		</h6>
	
		<div class="scrollbar" id="style-1" style="overflow-y:scroll; overflow-x:hidden; height:600px;">
			
<div class="gradient" style = "background-color: <%= page.page_color if page.page_color %>">

		<%- @listings.each do |i| -%>							
			  <div class="wrap">
			    <div class="card" style = "outline: 5px solid  <%= @website.footer_text_color if @website.footer_text_color.present? %>;">			      
			        <div class="price"><%= i["price"] %><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></div>
			        <div class="image" style = "background-image: url(<%= i["image"]["url"] if i["image"]["url"].present? %>);background-repeat:no-repeat; background-size:100% 100%; "></div>
			        <div class="description">
			            <div class="row">
			              <div class="col-sm-6">
			              	<h4 class="row text-center"><%= i["title"].upcase %></h4>
			              	<h4 class="row text-center" style = "font-size: 12px;">Description: <%= i["description"].downcase %></h4>
			              	<h4 class="row text-center" style ="font-size: 10px;">VIN: <%= i["vin"] %></h4>
			              </div>

			              <div class="col-sm-3"  >							
							<p class="row text-left" style ="font-size: 10px;">Year: <%= i["year"] %></p>
							<p class="row text-left" style ="font-size : 10px;">Miles: <%= i["miles"] %></p>
							<p class="row text-left" style ="font-size : 10px;">Transmission: <%= i["transmission"] %></p>
							<p class="row text-left" style ="font-size : 10px;">Color: <%= i["color"] %></p>
						</div>

						<div class="col-sm-3" >
							<p class="row text-left" style ="font-size : 10px;">Cylinder: <%= i["cylinder"] %></p>
							<p class="row text-left"style ="font-size : 10px;">Fuel: <%= i["fuel"] %></p>
							<p class="row text-left" style ="font-size : 10px;">Drive: <%= i["drive"] %></p>
							<p class="row text-left" style ="font-size: 10px;">Model: <%= i["model"] %></p>												
						</div>
			        </div>			            
			        </div>			      
			    </div>
			  </div>
							
			<% end %>									
			</div>
		</div>

	<% else %>
		
		

		<% sections.each do |section| %>

			<div class="col-md-12 text-center" style = "background-color: <%= section.background_color if section.background_color %>;
				<%- if user_signed_in? -%>
					<%- if page.website.user_id == current_user.id -%>
							outline: <%= page.header_color if page.header_color %> dotted thick;
					<% end %>
				<% end %>

				">	
				<%- if user_signed_in? -%>
					<%- if page.website.user_id == current_user.id -%>
						<div class="col-md-12 text-center" style = "margin-bottom: 5px;">
							
							<%= link_to 'Edit Section', edit_website_page_page_section_path(@website.id, page.id, section.id),class: "btn btn-default btn-xs" %>
						</div>

					<% end %>
				<% end %>

				<% section.sectiontypes.each do |widget| %>

				<!-- Main Logic for  distributing elements -->					

					<div class="col-md-<%= (12/section.number_of_elements.to_i) %> text-center" style = "color:<%= page.header_color %>;
						<%- if user_signed_in? -%>
							<%- if page.website.user_id == current_user.id -%>
									outline: <%= page.header_color if page.header_color %> dotted thick;
							<% end %>
						<% end %>
						" >

						<%- if user_signed_in? -%>
							<%- if page.website.user_id == current_user.id -%>

								<%= link_to 'Edit Widget', edit_website_page_page_section_sectiontype_path(@website.id, page.id, section.id,widget.id),class: "btn btn-default btn-xs" %>					

								<%= link_to "Delete Widget", website_page_page_section_sectiontype_path(@website.id, page.id, section.id,widget.id), :confirm => "Are you sure you want to delete this Widget?", :method => :delete, class: "btn btn-default btn-xs" %>			
							<% end %>
						<% end %>

						<%- if widget.widget_type.to_s == "Paragraph" -%>

							<h2 style = "color: <%= widget.text_color if  widget.text_color.present? %>;" ><%= widget.title if widget.title.present? %></h2>
							<p style = "color: <%= widget.text_color if  widget.text_color.present? %>;" ><%= widget.details if widget.details.present? %></p>

						<%- elsif widget.widget_type.to_s == "Image" -%>

							<h2 style = "color: <%= widget.text_color if widget.text_color.present? %>;"><%= widget.title if widget.title.present? %></h2>

							<%= image_tag widget.type_url,  :style => "margin-bottom: 5px; height: 70%; width: 100%; outline: 2px solid #{widget.image_border if widget.image_border.present? }" %>							

						<%- elsif widget.widget_type.to_s == "Video" -%>						

							<iframe width="100px;" height="100px;" src="http://www.youtube.com/embed/#{widget.type_url if widget.type_url.present? }" frameborder="1"></iframe>
							

						<% end %>

					</div>

				<% end %>	
				<%- if user_signed_in? -%>
					<%- if page.website.user_id == current_user.id -%>
					
						<div class="col-md-12 text-center" style = "margin-bottom: 5px;">

							<%= link_to 'Add Widget to this section', new_website_page_page_section_sectiontype_path(@website.id, page.id, section.id),class: "btn btn-default btn-xs" %>	
							
							<%= link_to "Delete Section", website_page_page_section_path(@website.id, page.id, section.id), :confirm => "Are you sure you want to delete this Section?", :method => :delete, class: "btn btn-default btn-xs"  %> 							
						</div>
					<% end %>
				<% end %>

			</div>

		<% end %>
		
	<% end %>
		

</div>


