<%= form_for page, :url => {:action => 'update'} do |f| %>
	<% if page.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

	      <ul>
	      <% page.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	<% end %>
	
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

   <div class="field">
    <%= f.label :header %>
    <%= f.text_field :header %>
  </div>

   <div class="field">
    <%= f.label :header_color %>
    <%= f.text_field :header_color %>
  </div>

   <div class="field">
    <%= f.label :subheader %>
    <%= f.text_field :subheader %>
  </div>

   <div class="field">
    <%= f.label :subheader_color %>
    <%= f.text_field :subheader_color %>
  </div>

   <div class="field">
    <%= f.label :page_color %>
    <%= f.text_field :page_color %>
  </div>

  <div class="field">
    <%= f.label :show_page_on_index, 'Include This Page On Main Page' %>
    <%= f.select :show_page_on_index, [false, true] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>