<div class="col-md-12 text-center">
<%= bootstrap_form_for page_section, :url => {:action => 'create'} do |f| %>
  <% if page_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page_section.errors.count, "error") %> prohibited this page_section from being saved:</h2>

      <ul>
      <% page_section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <div class="field">
    
    <%= f.text_field :number_of_elements %>
  </div>

   <div class="field">
    
    <%= f.text_field :background_color %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>