<p id="notice"><%= notice %></p>

<h1>Added Costs</h1>

<table>
  <thead>
    <tr>
      <th>Cost date</th>
      <th>Cost</th>
      <th>Billed</th>
      <th>Labor cost total</th>
      <th>Total</th>
      <th>Method of payment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @added_costs.each do |added_cost| %>
      <tr>
        <td><%= added_cost.cost_date %></td>
        <td><%= added_cost.cost %></td>
        <td><%= added_cost.billed %></td>
        <td><%= added_cost.labor_cost_total %></td>
        <td><%= added_cost.total %></td>
        <td><%= added_cost.method_of_payment %></td>
        <td><%= link_to 'Show', added_cost %></td>
        <td><%= link_to 'Edit', edit_added_cost_path(added_cost) %></td>
        <td><%= link_to 'Destroy', added_cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Added Cost', new_added_cost_path %>
