<p id="notice"><%= notice %></p>

<p>
  <strong>Cost date:</strong>
  <%= @added_cost.cost_date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @added_cost.cost %>
</p>

<p>
  <strong>Billed:</strong>
  <%= @added_cost.billed %>
</p>

<p>
  <strong>Labor cost total:</strong>
  <%= @added_cost.labor_cost_total %>
</p>

<p>
  <strong>Total:</strong>
  <%= @added_cost.total %>
</p>

<p>
  <strong>Method of payment:</strong>
  <%= @added_cost.method_of_payment %>
</p>

<%= link_to 'Edit', edit_added_cost_path(@added_cost) %> |
<%= link_to 'Back', added_costs_path %>
