<!DOCTYPE html>
<html>
  <head>
    <title>TDC Website Builder</title>
    <%= favicon_link_tag 'https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/logo1.ico' %>

    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"  lazyload>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  lazyload>    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>

    
    <meta name="description" content="Create Beautiful Responsive websites in less than 10 minutes. Huge Template library to choose your best website design ">  
    <meta content="TDC Website Builder" property="og:title" />          


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  lazyload>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"  lazyload>  

   <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Great+Vibes|Baloo+Chettan|Damion|Heebo|Kaushan+Script|Ranga|Lobster|Raleway:400,800|Playfair+Display+SC" rel="stylesheet"  lazyload>

  <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"  lazyload>
  
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="../assets/drag-arrange.js"></script>
    
  <%= yield :stylesheet_includes %>
  
  
  </head>

  <body>        

    <%= yield %>
  </body>
</html>
